
select {  
  background-color: var(--bgcolor);
  font-size: 1rem;
  color: var(--textcolor);
  padding: .4em .7em;
  width: 100%;
  border: solid var(--accent);
  border-width: 3px 4px 3px 5px;
  border-radius: 1% 98% 2% 99% /99% 2% 98% 1%;
}

input.input-custom, textarea.input-custom {
  background-color: var(--bgcolor);
  color: var(--textcolor);
  padding: .4em .7em;
  width: 100%;
  border: solid var(--accent);
  border-width: 3px 4px 3px 5px;
  border-radius: 1% 98% 2% 99% /99% 2% 98% 1%;
}

input:focus-visible, select:focus-visible, select:focus, input:focus { 
  border-color: var(--accent);
  outline:inherit;
  box-shadow:3px 3px 2px .05em #6b2b004b;
}


.rbt .rbt-input-main::-ms-clear {
  display: none;
}

/**
 * Menu
 */
.rbt-menu > .dropdown-item {
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}
.rbt-menu > .dropdown-item:hover {
  background-color: var(--accent);
}
.rbt-menu > .dropdown-item:focus {
  outline: none;
}
.rbt-menu-pagination-option {
  text-align: center;
}

/**
 * Multi-select Input
 */

.rbt-input{
  background-color: var(--bgcolor);
  font-size: 1rem;
  color: var(--textcolor);
  width: 100%;
  border: solid var(--accent);
  caret-color: black;
  border-width: 3px 4px 3px 5px;
  border-radius: 1% 98% 2% 99% /99% 2% 98% 1%;
}
.rbt-input-multi {
  cursor: text;
  overflow: hidden;
  position: relative;
}
.rbt-input-multi.focus {
  color: var(--textcolor);
  background-color: var(--bgcolor);
  border-color: var(--accent);
  box-shadow: 3px 3px 2px .05em #6b2b004b;
  outline: 0;
}
.rbt-input-multi.form-control {
  height: auto;
}
.rbt-input-multi .rbt-input-wrapper {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.dropdown-menu {
  background-color: var(--accentlight);
  border: 1px solid var(--accent);
  padding: .1em 0; 
}

/**
 * Close Button
 */
.rbt-close {
  z-index: 1;
}
.rbt-close-lg {
  font-size: 1.5rem;
}

/**
 * Token
 */
.rbt-token {
  background-color: var(--accent);
  border: 0;
  border-radius: 0.25rem;
  color: rgb(255, 233, 211);
  display: inline-flex;
  line-height: 1rem;
}
.rbt-token .rbt-token-label {
  padding: 0.25rem 0.5rem;
}
.rbt-token .rbt-token-label:not(:last-child) {
  padding-right: 0.25rem;
}
.rbt-token-disabled {
  background-color: rgba(0, 0, 0, 0.1);
  color: #495057;
  pointer-events: none;
}
.rbt-token-removeable {
  cursor: pointer;
}
.rbt-token-active {
  background-color: #522909;
  color: #fff;
  outline: none;
  text-decoration: none;
}
.rbt-token .rbt-token-remove-button {
  background-image: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-shadow: none;
  color: inherit;
  display: flex;
  justify-content: center;
  font-size: inherit;
  font-weight: normal;
  opacity: 1;
  outline: none;
  padding: 0.25rem 0.5rem;
  padding-left: 0;
  text-shadow: none;
}

.rbt-token{
  margin-right:0.2em;
}

.rbt-token .rbt-token-remove-button .rbt-close-content {
  display: block;
}

/**
 * Loader + CloseButton container
 */
.rbt-aux {
  align-items: center;
  display: flex;
  bottom: 0;
  justify-content: center;
  pointer-events: none;
  /* Don't block clicks on the input */
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
}
.rbt-aux-lg {
  width: 3rem;
}
.rbt-aux .rbt-close {
  offset-block-start: -0.25rem;
  pointer-events: auto;
  /* Override pointer-events: none; above */
}
.rbt-close-content{
    color:#dc3545 !important;
}


.has-aux .form-control.is-valid, .has-aux .form-control.is-invalid {
  background-position: right 2rem center;
}

.rbt-highlight-text {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
}

/**
 * Input Groups
 */
.input-group > .rbt {
  flex: 1;
}
.input-group > .rbt .rbt-input-hint, .input-group > .rbt .rbt-aux {
  z-index: 5;
}
.input-group > .rbt:not(:first-child) .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > .rbt:not(:last-child) .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.alert-container{
  position:fixed;
  top:5vh;
  left:0;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index:9999;
}

.alert-container > .alert{
  width:50vw;
}