.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.disabled svg {
    display: none;
}

#refocus-button {
    top:0;
}

#help-button{
    top:0;
    right:0;
}


#konva-buttons-container svg{
    position: absolute;
    transition: opacity 0.2s, transform 0.2s;
    fill:var(--accent);
    opacity: 0.5;
}


#konva-buttons-container svg:hover {
    opacity: 1;
    transform: translateY(-2px);
}

#konva-buttons-container {
    z-index: 2000;
    display: flex;
    position: relative;
    top:20px;
    left:5px;
}


#konvacontainer{
    border-radius: 3px 500px 2px 500px /500px 2px 500px 3px;
    background-color: var(--room-background);
    padding:0;
}

canvas {
    border-radius: 3px 500px 2px 500px /500px 2px 500px 3px;
    outline: var(--accent) solid 4px ;
}
