.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.disabled svg {
    display: none;
}

#refocus-button {
    position: absolute;
    z-index: 2000;
    transition: fill 0.2s;
}

#refocus-button{
    transition: opacity 0.2s, transform 0.2s;
    fill:var(--accent);
    opacity: 0.5;
}

#refocus-button:hover {
    opacity: 1;
    transform: translateY(-2px);
}

#refocus-button-container {
    position: relative;
    top: 20px;
    left: 14px;
}



#refocus-button-fill:hover {
    opacity: 1;
    transform: translateY(-5px);
}

#refocus-button-fill:hover+#refocus-button {
    opacity: 0;
    transform: translateY(-5px);

}

#konvacontainer{
    border-radius: 3px 500px 2px 500px /500px 2px 500px 3px;
    background-color: var(--room-background);
    padding:0;
}

canvas {
    border-radius: 3px 500px 2px 500px /500px 2px 500px 3px;
    outline: var(--accent) solid 4px ;
}
