/* css animation to slowly rotate something in a seeming random degree  */
@keyframes compassrotate {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(2deg);
    }

    20% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(-1deg);
    }

    40% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(3deg);
    }

    60% {
        transform: rotate(1deg);
    }

    70% {
        transform: rotate(2deg);
    }

    80% {
        transform: rotate(1deg);
    }

    90% {
        transform: rotate(-1deg);
    }

    1000% {
        transform: rotate(0deg);
    }
}

#minimap canvas {
    border-radius: 3px 500px 2px 500px /500px 2px 500px 3px;
}

#minimap-fullscreen{
    position: fixed;
    top: 0;
    left: 0;
    background-color: aliceblue;
}

#minimap-fullscreen canvas{
    border-radius: 0 0 0 0;
}

body{
    pointer-events: visible;
}
#minimap.fullscreen canvas, #minimap.fullscreen div{
    width: 100vw;
    height: 100vh;
}

#minimap-fullscreen div{
    background-color: var(--bgcolor);
}

#konva-buttons-container img, #konva-buttons-container-fullscreen img {
    position: absolute;
    cursor: pointer;
}

#compass {
    animation: compassrotate 20s infinite;
    width: 25%;
    position: relative;
    right: 3%;
}

#compass-fullscreen {
    position: relative;
    width: 10vw !important;
    height: 10vw !important;
    right:1vh !important;
    top: 1vh !important;
    float:right;
    pointer-events: all;
}

#compass {
    cursor: pointer;
}

#refocus-button:hover {
    transform: translateY(-2px);
}

#konva-buttons-container {
    z-index: 2000;
    display: flex;
    position: relative;
    top: 20px;
    left: 5px;
}


#konva-buttons-container-fullscreen {
    z-index: 2000;
    display: flex;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#fullscreenbutton{
    position: relative;
    left: 5%;
    cursor: pointer;
    opacity: 1 !important;
}

#fullscreenbutton-fullscreen {
    position:relative;
    margin:1vh;
    pointer-events: all;
    cursor: pointer;
}