@keyframes spin {
  0% {
    transform: rotate(360deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.5);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.lama-wrapper {  
  height: 40vh;
}

#lama{
  animation: spin 1.5s infinite linear;
  height: 100%;
}

.lama-wrapper.list-busy{
  height:40px;
  position: relative;
  left:50%;
}

#sadwrapper a{
  text-decoration: underline;
  font-weight: initial;
}

#sadwrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sadwrapper > img{
  max-height: 30vh;
}

.crying-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.crying-text {
  font-size: 1.2rem;  
}