:root {
  --bgcolor: rgb(209, 203, 193);
  --textcolor: #6b2a00;
  --offcolor: #2e2e2e;
  --accentlight: #a7795b;
  --accent: #6b2a00;
  --accent0:rgba(107, 43, 0, 0);
}

html, body {
  background-color: var(--bgcolor);
  max-width: 100%;
  color: var(--textcolor);
  font: 20px/1.5 'Segoe UI', 'Calibri', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  margin: .5rem 0 1rem 0;
}

.headline {
  font-size: 1.5rem;
  margin: 0;
}

hr {
  border: 1px solid var(--textcolor);
  border-radius: 0;
  opacity: 1;
}

a {
  color: var(--accent);
  text-decoration: none;
  font-weight: 800;
  transition: color 0.1s ease-in-out;
}

a:hover {
  color: var(--accentlight);
  transition: color 0.1s ease-in-out;
}

#header-logo {
  max-width: 350px;
  width: 100%;
}

.drawn-border {
  border: solid var(--accent);
  border-width: 3px 4px 3px 5px;
  border-radius: 1% 98% 2% 99% /99% 2% 98% 1%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
