:root {
  --bgcolor: rgb(209, 203, 193);
  --textcolor: #6b2a00;
  --offcolor: #2e2e2e;
  --accentlight: #a7795b;
  --accent: #6b2a00;
  --accent-darker: #4a1c00;
  --accent0:rgba(107, 43, 0, 0);
  --green: rgb(21, 115, 71);
  --lightgreen: rgb(37, 147, 95);
  --red: rgb(197, 40, 56);
  --lightred: rgb(228, 61, 78);
  --blue: #0051ff;
  --lightblue: #2f71ff;

  --health: #ff0000;
  --mana: #0096b1;
  --damage: #6d6d6d;

  /* Inactive Room (not yet created) */
  /* Inactive Room (not yet 
  created */

  --room-background:#f0f0f0;

  --room-fill: #ddd;
  --room-stroke: #ccc;
  
  /* Created Rooms */
  --room-active-fill: #8b4a20;
  --room-active-stroke : #6b2a00;

  --room-selected-fill: #753e1a; 
  --room-selected-stroke: #441b00;

  /* Start Room */
  --room-start-fill: var(--lightgreen);
  --room-start-stroke: var(--room-active-stroke);
  --room-start-selected-fill:  var(--green);
  --room-start-selected-stroke:  var(--room-selected-stroke);

  --connection-closed: var(--room-selected-stroke);
  --connection-inactive: var(--room-stroke);
  --connection-open: var(--room-active-stroke);
}

html, body {
  background-color: var(--bgcolor);
  max-width: 100%;
  min-height: 100vh;
  color: var(--textcolor);
  font: 20px/1.5 'Segoe UI', 'Calibri', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  margin: .5rem 0 1rem 0;
}

.headline {
  font-size: 1.5rem;
  margin: 0;
}

hr {
  border: 1px solid var(--textcolor);
  border-radius: 0;
  opacity: 1;
}

a {
  color: var(--accent);
  text-decoration: none;
  font-weight: 800;
  transition: color 0.1s ease-in-out;
}

a:hover {
  color: var(--accentlight);
  transition: color 0.1s ease-in-out;
}

#header-logo {
  max-width: 275px;
  width: 100%;
}

.drawn-border {
  border: solid var(--accent);
  border-width: 3px 4px 3px 5px;
  border-radius: 1% 98% 2% 99% /99% 2% 98% 1%;
}

.input-standard {  
  background-color: transparent;
  color: var(--textcolor);
  padding: .4em .7em;
  width: 100%;
}

.select-standard {  
  background-color: var(--bgcolor);
  font-size: 1rem;
  color: var(--textcolor);
  padding: .4em .7em;
  width: 100%;
}
.input-standard:focus-visible, .select-standard:focus-visible, .input-standard:focus, .select-standard:focus { 
  border-color: var(--accent);
  outline:inherit;
  box-shadow:3px 3px 2px .05em #6b2b004b;
}

/* Buttons */
.btn:focus {
  box-shadow: none;
}

.btn {
  border-color: var(--accent);
}
.btn:hover {
  border-color: var(--accent);
}

.btn-standard {
  width: 100%;
  color: var(--textcolor);
}
.btn-standard:hover {
  color: var(--textcolor);
  background-color: var(--accentlight);
}

.btn-green {
  color: white;
  background-color: var(--lightgreen);
}
.btn-green:hover {
  color: white;
  background-color: var(--green);
}

.btn-red {
  color: white;
  background-color: var(--lightred);
}
.btn-red:hover {
  color: white;
  background-color: var(--red);
}

.btn-blue {
  color: white;
  background-color: var(--lightblue);
}
.btn-blue:hover {
  color: white;
  background-color: var(--blue);
}

.btn-xpadding {
  padding: .4em 2em;
}

/* Login */
.forgot-pw {
  font-size: 0.7em;
}

/* Dashboard */
.nav-tabs {
  border-bottom: 2px solid var(--textcolor);
}
.nav-link {
  background-color: transparent !important;
  font-weight: 400;
  color: var(--textcolor);
}
.nav-link:focus {
  background-color: transparent !important;
  color: var(--textcolor);
  border-color: transparent !important;
}
.nav-link:hover {
  background-color: transparent !important;
  font-weight: 400;
  color: var(--accentlight);
  border-color: transparent !important;
}
.nav-link.active {
  background-color: var(--accentlight) !important;
  color: white !important;
  border: solid var(--accent);
  border-color: var(--textcolor) !important;
  border-width: 3px 4px 0 5px;
  border-radius: 1% 98% 1% 99% /99% 2% 50% 1%;
}

.dashboard-list {
  border: solid var(--accent);
  border-radius: 0 0 2% 0/0 0 20% 0;
  border-width: 0 0 3px;
  transition: background-color .1s ease-in;
}

/* Listen und Icons */
#editIcon, #deleteIcon, #joinIcon {
  margin-left: 5px;
  transition: opacity .1s ease-in, transform .05s ease-in;
}
#deleteIcon {
  cursor: pointer;
  color: var(--red);
}
#joinIcon {
  cursor: pointer;
  color: var(--green);
}
#editIcon {
  cursor: pointer;
}

.row:hover #editIcon, .row:hover #deleteIcon, .row:hover #joinIcon {
  opacity: 1;
}

#editIcon:hover, #deleteIcon:hover, #joinIcon:hover {
  transform: scale(1.2);
}

.configurator-item, .character-item {
  border-radius: .3em;
  transition: background-color .1s ease-in;
}

.configurator-item:hover, .character-item:hover, .dashboard-list:hover {
  background-color: rgba(146, 144, 141, 0.4);
  box-shadow: 0em 0em .3em rgb(146, 144, 141);
}

/* Game */
.game-wrapper {
  height: 100vh;
}
.game-header, .game-footer {
  height: 8%;
}
.game-body {
  height: 89%;
}

.game-body .col {
  height: 100%;
}

.minimap {
  width: 100%;
  height: 30%;
}
.inventory {
  width: 100%;
  height: 50%;
}
.onlineplayers {
  height: 50%;
}
.chatqueue {
  height: 45%;
}
.playerinfo {
  height: 45%;
}
.chat-output-wrap {
  height: 90%;
}
.chat-input-wrap {
  height: 10%;
}
.chat {
  height: 100%;
}

.chat-content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.chat-content::-webkit-scrollbar {
  width: 15px;
}
.chat-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--accent);
  background-color: var(--accentlight);
  border-radius: 10px;
}
.chat-content::-webkit-scrollbar-thumb {    
  background: var(--accent);
  border-radius: 10px;
}

.progress {  
  height: auto;
  border: solid var(--accent);
  border-width: 3px 4px 3px 5px;
  border-radius: 1% 98% 2% 99% /99% 2% 98% 1%;
  background-color: transparent;
}
.progress-bar {
  font-size: .7rem;
}
.bg-health {
  background-color: var(--health);
}
.bg-mana {
  background-color: var(--mana);
}
.bg-damage {
  background-color: var(--damage);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Toasts */
.toast-container{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}
.toast{
  font-family: 'Segoe UI', 'Calibri', Helvetica, sans-serif;
  font-size:0.75rem;
  z-index:100 !important;
}
.toast.bg-danger .toast-header {
  color:rgb(218, 54, 54);
  background-color:#ffefef !important;
}
.toast.bg-warning .toast-header {
  color:rgb(255, 149, 0);
  background-color:rgb(255, 245, 213) !important;
}
.toast.bg-info .toast-header {
  color:rgb(45, 136, 255);
  background-color:rgb(218, 236, 255) !important;
}
.toast{
  background-color: rgb(255, 255, 255) !important;
  color:rgb(29, 29, 29);
}
.toast-header strong{
  text-transform: capitalize;
}
/* Toasts END */