a:hover svg{
    transform: scale(1) translateX(2px) translateY(-4px) rotate(-100deg) !important;
}

a svg{
    transform: scale(0.7) translateX(-4px) translateY(-12px);
    transition: transform 0.2s ease-in-out;
}