.modal-content {
    background-color: var(--bgcolor);
    border: solid var(--accent);
    border-width: 4px 4px 3px 5px;
    border-radius: 1% 20% 1% 20% /99% 2% 98% 1%;
}

.modal-footer, .modal-header {
    border-color: var(--accent);
    border-width: 2px;
}

.modal-title::first-letter {
    text-transform: uppercase;
}

.isglobal-input {
    background-color: var(--bgcolor);
    border: solid var(--accent);
    border-width: 3px;
}
.isglobal-input:checked {
    background-color: var(--accent);
    border: solid var(--accent);
}
.isglobal-input:focus {
    box-shadow: none;
    border: solid var(--accent);
    border-width: 3px;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%280, 0, 0, 0.25%29%27/%3e%3c/svg%3e") !important;
}